body {
	margin: 0;
}
.wrapper {
	max-width: 480px;
	margin: 0 auto;
	direction: rtl;
}
#section1 {
	background: url(images/section1_bg.jpg) top center;
	font-family: 'Lato', sans-serif;
	color: white !important;
	padding-top: 110px;
}
#section1 h1, #section1 p { {
	color: white !important;
	text-align: center;
}
#section2 {
	font-size: 42px;
}
#section3 {
	background: url(images/section3_bg.jpg);
}
.product {
	text-align: center;
}
.footer {
	background: #d0ac68;
}
.top_ttl {
	text-align: center;
}
.top_ttl h1 {
	color: white;
}